@font-face {
  font-family: 'Spotify Mix Title';
  src: url('SpotifyMixUITitle.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spotify Mix Title';
  src: url('SpotifyMixUITitle-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}