@import '@/assets/fonts/fonts';

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--white);
  font-family: 'Spotify Mix', 'ProductSans', 'sans-serif';
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  overflow-x: hidden;
}

img {
  user-select: none;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-user-drag: none;
}
