.tooltip {
  position: absolute;
  text-align: center;
  content: attr(data-tooltip);
  transition: opacity 300ms ease;
  background-color: #282828;
  padding: 5px 7px;
  border-radius: 4px;
  opacity: 0;
  box-shadow: 0 16px 24px rgba(0,0,0,.3),0 6px 8px rgba(0,0,0,.2);
  overflow: hidden;
  max-width: 60ch;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  user-select: none;
  pointer-events: none;
  font-size: .85rem;
  z-index: 5;
}

.show {
  opacity: 1;
}